<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark d-none">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">TC_ECOM</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Language
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">ENG</a></li>
            <li><a class="dropdown-item" href="#">HIN</a></li>
          </ul>
        </li> 

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">About Us</a>
        </li>
        <li class="nav-item" *ngIf="user_role =='buyer'">
          <a class="nav-link" routerLink="/buyer-dashboard">Order</a>
        </li>
        <li class="nav-item" *ngIf="user_role =='admin'">
          <a class="nav-link " routerLink="/buyer-dashboard">All Order</a>
        </li>
        <li class="nav-item" *ngIf="user_role =='seller'">
          <a class="nav-link " routerLink="/seller/product">Product</a>
        </li>
        <li class="nav-item" *ngIf="user_role =='admin'">
          <a class="nav-link " routerLink="/admin/product">All Product</a>
        </li>
        <li class="nav-item" *ngIf="user_role =='admin'">
          <a class="nav-link " routerLink="/admin/user">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="/contact-us">Contact Us</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <ul class="navbar-nav ml-auto" *ngIf="!logged_in">
        <li class="nav-item">
          <a class="nav-link" routerLink="/sign-in">Sign In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sign-up">Sign Up</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto" *ngIf="logged_in">
        <li class="nav-item">
          <a class="nav-link sim-pointer" routerLink="/my-profile">My Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link sim-pointer" (click)="logout()">Log Out</a>
        </li>
      </ul>

    </div>
  </div>
</nav>
 -->

<header class="top-bar header-fancy-topbar pb-135">
  <div class="topbar">
    <div class="container">
      <div class="row justify-content-end">
        <!-- Social Links -->
        <div class="col-lg-6 col-md-6 col-12">
          <div class="topbar-social text-center text-md-left">
            <ul class="list-inline d-md-flex">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-dribbble"></i></a></li>

              <!-- Authentication Links -->
              <li *ngIf="!logged_in"><a routerLink="/sign-in">Sign In</a></li>
              <li *ngIf="!logged_in"><a routerLink="/sign-up">Sign Up</a></li>
              <li *ngIf="logged_in"><a routerLink="/my-profile">My Profile</a></li>
              <li *ngIf="logged_in"><a (click)="logout()">Log Out</a></li>
            </ul>
          </div>
        </div>

        <!-- Contact Info -->
        <div class="col-lg-6 col-md-6 col-12 xs-mb-10">
          <div class="topbar-call text-center text-md-right">
            <ul class="list-inline d-md-flex justify-content-end">
              <li><i class="fa fa-envelope"></i>{{ email }}</li>
              <li><i class="fa fa-phone"></i><a href="tel:{{ mobiletrim }}">{{ mobile }}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-expand-lg nav-white header-fancy core-nav nav-core-sticky fixed-top ">
    <div class="container bg-white shadow  rounded py-10">
      <a class="navbar-brand brand" href="/">
        <img src="../../../../assets/images/brand/logo-470-270.png" class="img-fluid logo" alt="Logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon ti-menu"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/home">Home</a>
          </li>

          <!-- Admin Links -->
          <li *ngIf="user_role === 'admin'" class="nav-item">
            <a class="nav-link" routerLink="/admin-dashboard">Dashboard</a>
          </li>
          <li *ngIf="user_role === 'admin'" class="nav-item">
            <a class="nav-link" routerLink="/admin/user">Manage Users</a>
          </li>
          <li *ngIf="user_role === 'admin'" class="nav-item">
            <a class="nav-link" routerLink="/admin/manage-doctor">Manage Doctors</a>
          </li>

          <!-- User Links -->
          <li *ngIf="user_role !== 'admin'" class="nav-item">
            <a class="nav-link" routerLink="/doctors">Doctors</a>
          </li>

          <!-- Common Links -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/all-courses">Courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact-us">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>