.image-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
}

.full-image {
    max-width: 90%;
    max-height: 90%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    border: 2px solid #fff;
    border-radius: 5px;
}

.image-modal:hover {
    cursor: pointer;
}